

*{
margin: 0;
padding: 0;
}


body {
    margin: 0;
}

a{
    color: white;
}

.entete{

    background-color: #063970;
    color: white;
}

.tete li {
    float: right;
    margin-right: 50px ;
    display: inline;
    margin-left:30px;
}

.logo{

    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.logoo{

    width: 50px;
    height: 50px;
    object-fit: contain;
}




h1 {

    text-align: center;
    color: darkslategrey;

}

.table{
    text-align: center;
   position: absolute;
     width: 500px;
    height: 300px;
    right: 100px ;
    top : 200px;
        overflow: scroll;
}

