
*{
margin: 0;
padding: 0;
}


body {
    margin: 0;
}

a{
    color: white;
}

.entete{
    display: flex;
    align-items: center;

    background-color: #063970;
    color: white;
    justify-content: space-between;
    padding: 0 2%;


}
.entete > ul {

    display: flex;
    flex-direction: column;


    justify-content: space-between;
    min-width: 15vw;
    list-style: none;
}
.tete{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.logo{
    justify-content: center;

    display: flex;
    align-items: center;

    width: 5em;
    height: 5em;

}

.ul {

    display: inline;
    width: 50%;
    float: right;

}



.container {
    text-align: center;
    color: #063970;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;


}
.container a{

    color: #063970;

}

.tableaux{

    display: flex;
    justify-content: space-between;
    list-style: None;
    }

