
<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">



        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="UTF-8">
        <title>CrypSoo</title>


    </head>

         <body>
        <div class ='entete'>

        <nav class="tete">
                <h2> CrypSoo</h2>
            <h3> Gère ta crypto en toute simplicité</h3>
            {% if not user.is_authenticated %}
            <ul>

                <li> <a href="{% url 'signup'  %}">Inscription</a> </a> </li>
                <li> <a href="{% url 'login'  %}">Connexion</a>  </li>
                {% else %}
                     <li> <a href="{% url 'logout'  %}">Déconnexion</a> </a> </li>
                    <li> <a href="{% url 'historique'  %}">Historique</a>  </li>
            </ul>
                      {% endif %}

        </nav>


        <div class ='logo'>
            <a href="{% url 'index'  %}"> <img class = 'logoo' src = "{% static 'sorbonne.png' %}"> </a>
        </div>

    </div>







    <div class = 'container'>

        <h1>Connecte toi !</h1>
        <h2>Rentre ton adresse de Wallet</h2>
        <h4>récupère toutes les informations pour suivre ton investissement</h4>

         {% if  user.is_authenticated %}
               <form method="GET">

                <p>

                    <label for="'adresse">adresse</label>
                    <input id="'adresse" type="'text" name="adresse">
                    <button type="submit">recupérer les infos</button>

                </p>
                 </form>


        {% endif %}

    <div class = 'table' > {{ dj | safe }}  </div>
    </div>

</body>

