<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="UTF-8">
     </head>

    <body>
     <div class ='entete'>

            <div class="tete">
                <h2> CrypSoo</h2>
                <h3> Gère ta crypto en toute simplicité</h3>
            </div>
            <a href="{% url 'index'  %}"> <img class = 'logo' src = "{% static 'sorbonne.png' %}"> </a>

            <ul>
                <li> <a href="{% url 'index'  %}"> Accueil </a> </li>
            </ul>

        </div>
     <div class = 'container'>
         <h1>Inscription</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Nom d'utilisateur</label>
            <input id="username" type="text" name="username">
        </p>

        <p>
            <label for="password">Mot de passe</label>
             <input id ='password' type="password" name="password">

        </p>
        <button type="submit">S'inscrire</button>
    </form>
         </div>
    </body>